<!-- CORE : begin -->
			<div id="core">

				<!-- PAGE TITLE : begin -->
				<div id="page-title" class="m-parallax">

					<!-- PAGE TITLE TOP : begin -->
					<div class="page-title-top">
						<div class="page-title-top-inner">

							<!-- PAGE TITLE TEXT : begin -->
							<div class="page-title-text">
								<div class="container">
									<h1>About Us</h1>
								</div>
							</div>
							<!-- PAGE TITLE TEXT : end -->

						</div>
					</div>
					<!-- PAGE TITLE TOP : end -->

					<!-- PAGE TITLE BOTTOM : begin -->
					<div class="page-title-bottom">
						<div class="container">
							<div class="page-title-bottom-inner">
								<div class="page-title-bottom-inner2">

									<!-- PAGE TITLE BREADCRUMBS : begin -->
									<div class="page-title-breadcrumbs">
										<!--<ul>
											<li><a href="index.html">Home</a></li>
											<li>About Us</li>
										</ul>-->
									</div>
									<!-- PAGE TITLE BREADCRUMBS : end -->

								</div>
							</div>
						</div>
					</div>
					<!-- PAGE TITLE BOTTOM : end -->

				</div>
				<!-- PAGE TITLE : end -->

				<div class="container">

					<!-- PAGE CONTENT : begin -->
					<div id="page-content">

						<h2>We have <strong>25 Years of Experience</strong><br>in Home Maintenance Business</h2>
						<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown </p>

						<hr class="c-divider m-size-medium">

						<h2>Our <strong>Team</strong></h2>

						<div class="row">
							<div class="col-md-6">

								<!-- TEAM MEMBER : begin -->
								<div class="c-team-member m-has-portrait">
									<div class="member-portrait">
										<img src="/assets/team-member-01.jpg" alt="">
									</div>
									<h3 class="member-name">John Handy</h3>
									<h4 class="member-role">Plumbing, Sanitary, Sewerage</h4>
									<div class="member-description">
										<p>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from.</p>
									</div>
									<!--<ul class="member-social">
										<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
									</ul>-->
								</div>
								<!-- TEAM MEMBER : end -->

								<hr class="c-divider m-transparent hidden-md hidden-lg">

							</div>
							<div class="col-md-6">

								<!-- TEAM MEMBER : begin -->
								<div class="c-team-member m-has-portrait">
									<div class="member-portrait">
										<img src="/assets/team-member-02.jpg" alt="">
									</div>
									<h3 class="member-name">Keith Skilful</h3>
									<h4 class="member-role">Heating, Electricity</h4>
									<div class="member-description">
										<p>Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek.</p>
									</div>
									<!--<ul class="member-social">
										<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									</ul>-->
								</div>
								<!-- TEAM MEMBER : end -->

								<hr class="c-divider m-transparent hidden-md hidden-lg">

							</div>
						</div>

						<hr class="c-divider m-size-small m-transparent">

						<div class="row">
							<div class="col-md-6">

								<!-- TEAM MEMBER : begin -->
								<div class="c-team-member m-has-portrait">
									<div class="member-portrait">
										<img src="/assets/team-member-03.jpg" alt="">
									</div>
									<h3 class="member-name">Mick Nifty</h3>
									<h4 class="member-role">Roofing, Renovation</h4>
									<div class="member-description">
										<p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with.</p>
									</div>
									<!--<ul class="member-social">
										<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
									</ul>-->
								</div>
								<!-- TEAM MEMBER : end -->

								<hr class="c-divider m-transparent hidden-md hidden-lg">

							</div>
							<div class="col-md-6">

								<!-- TEAM MEMBER : begin -->
								<div class="c-team-member m-has-portrait">
									<div class="member-portrait">
										<img src="/assets/team-member-04.jpg" alt="">
									</div>
									<h3 class="member-name">Joe Slick</h3>
									<h4 class="member-role">Painting, Electricity</h4>
									<div class="member-description">
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts.</p>
									</div>
									<!--<ul class="member-social">
										<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
									</ul>-->
								</div>
								<!-- TEAM MEMBER : end -->

							</div>
						</div>

					</div>
					<!-- PAGE CONTENT : end -->

				</div>

			</div>
			<!-- CORE : end -->