<!-- FOOTER : begin -->
			<div id="footer" class="m-parallax">

				<!-- FOOTER TOP : begin -->
				<div class="footer-top">
					<div class="footer-top-inner">
						<div class="container">

							<!-- CTA MESSAGE : begin -->
							<div class="c-cta-message m-has-button">
								<div class="cta-inner">
									<h2>We Are <strong>Hiring</strong>!</h2>
									<p>The copy warned the Little Blind Text, that where it came from it would have been rewritten.</p>
									<p class="cta-button"><a href="contact.html" class="c-button m-size-medium">Contact Us</a></p>
								</div>
							</div>
							<!-- CTA MESSAGE : end -->

						</div>
					</div>
				</div>
				<!-- FOOTER TOP : end -->

				<!-- FOOTER INNER : begin -->
				<div class="footer-inner">
					<div class="container">

						<!-- BOTTOM PANEL : begin -->
						<div id="bottom-panel">
							<div class="row">
								<div class="col-md-4">

									<!-- TEXT WIDGET : begin -->
									<div class="widget text-widget">
										<div class="widget-inner">
											<h3 class="widget-title">About <strong>Handyguyz</strong></h3>
											<div class="widget-content">
												<p><strong>Handyguyz</strong> was founded with the vision of <strong>being a catalyst</strong> in job creations for the <strong>blue collar</strong> sector. We want to reach out to families <strong>across America</strong>, helping to enrich, enhance and <strong>empower people</strong> from a variety <strong>of trades</strong>, helping them through <strong>networking</strong> within their industry.</p>

											</div>
										</div>
									</div>
									<!-- TEXT WIDGET : end -->

									<hr class="c-divider hidden-lg hidden-md">

								</div>
								<div class="col-md-4">

									<!-- TEXT WIDGET (CONTACT) : begin -->
									<div class="widget text-widget">
										<div class="widget-inner">
											<h3 class="widget-title">Quick <strong>Contact</strong></h3>
											<div class="widget-content">

												<p>Please call <strong>(123) 456 789</strong> (we are available 24/7) or write at <strong><a href="#">help@handyguyz.com</a></strong>.</p>
												<p><strong>Handyguyz Inc.</strong><br>
												123 Fake Street<br>
												V5R 7RB, Vancouver BC</p>

											</div>
										</div>
									</div>
									<!-- TEXT WIDGET (CONTACT) : end -->

									<hr class="c-divider hidden-lg hidden-md">

								</div>
								<div class="col-md-4">

									<!-- SUBSCRIBE WIDGET : begin -->
									<div class="widget subscribe-widget">
										<div class="widget-inner">
											<h3 class="widget-title">Join Our <strong>Newsletter</strong></h3>
											<div class="widget-content">

												<p>We hate spam. We will only send you important information, and only when we <strong>have</strong> something to say</p>

												<form class="subscribe-widget-form" action="#" method="get">

													<!-- VALIDATION ERROR MESSAGE : begin -->
													<p style="display: none;" class="c-alert-message m-warning m-validation-error"><i class="ico fa fa-exclamation-circle"></i>Email address is required.</p>
													<!-- VALIDATION ERROR MESSAGE : end -->

													<!-- SENDING REQUEST ERROR MESSAGE : begin -->
													<p style="display: none;" class="c-alert-message m-warning m-request-error"><i class="ico fa fa-exclamation-circle"></i>There was a connection problem. Try again later.</p>
													<!-- SENDING REQUEST ERROR MESSAGE : end -->

													<!-- SUCCESS MESSAGE : begin -->
													<p style="display: none;" class="c-alert-message m-success"><i class="ico fa fa-check-circle"></i><strong>Sent successfully.</strong></p>
													<!-- SUCCESS MESSAGE : end -->

													<div class="input-box">
														<input class="email-input m-required m-email" name="EMAIL" type="text" placeholder="Your email address here" title="Your email address here">
														<button class="submit-btn" type="submit" title="Subscribe"><i class="fa fa-chevron-right"></i></button>
													</div>

												</form>

											</div>
										</div>
									</div>
									<!-- SUBSCRIBE WIDGET : end -->

								</div>
							</div>
						</div>
						<!-- BOTTOM PANEL : end -->

						<div class="row">
							<div class="col-md-6 col-md-push-6">

								<!-- FOOTER MENU : begin -->
								<nav class="footer-menu">
									<ul>
										<li><%= link_to 'Register as Handyguy', '#' %></li>
										<li><%= link_to 'Post a Job', '#' %></li>
									</ul>
								</nav>
								<!-- FOOTER MENU : end -->

							</div>
							<div class="col-md-6 col-md-pull-6">

								<!-- FOOTER TEXT : begin -->
								<div class="footer-text">
									<p>Created with <i class="fa fa-heart" style="color: red;"></i> in Canada.</p>
								</div>
								<!-- FOOTER TEXT : end -->

							</div>
						</div>

					</div>
				</div>
				<!-- FOOTER INNER : end -->

			</div>
			<!-- FOOTER : end -->